.detailScreenContainer{
    height: 2050.93px;
    display: flex;
    flex-direction: column;
}
@media screen and (min-width: 1024px){
    .detailScreen_Container{
        height: 2700.001px;
        display: flex;
        align-items: center;
    }
}