.detailScreenContainer{
    height: 2290.93px;
    display: flex;
    flex-direction: column;
}
@media screen and (min-width: 1024px){
    .detailScreenContainer{
        height: 3281px;
        display: flex;
        align-items: center;
    }
}