.LoginScreen {
  height: 77vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper-auth {
  width: 100%;
  max-width: 533px;
  padding: 1rem;
}

.wrapper-auth__title {
  text-align: center;
  color: #052734;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
}

.wrapper-auth__label {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #212121;
}

.wrapper-auth__input {
  width: 100%;
  height: 56px;
  border: 1px solid #a9a8a8;
  border-radius: 0.5rem;
  margin-bottom: 4rem;
}
.wrapper-auth__footer {
  display: flex;
  justify-content: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}

.wrapper-auth__footer__cuenta {
  color: #9b9b9b;
}

.wrapper-auth__footer__register {
  color: #218037;
  cursor: pointer;
  border: none;
  background-color: transparent;
  
  font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

.wrapper-auth__info {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #a9a8a8;
  margin-bottom: 1rem;
  display: inline-block;
}

.iconBack {
  cursor: pointer;
  padding: 1rem;
  display: inline-block;
}

.button.button--blue.mt-btn {
  margin-top: 3rem;
  font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17.99px;
}


