.LoginScreen {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper-auth {
  width: 100%;
  max-width: 433px;
}

.wrapper-auth__title {
  text-align: center;
  color: #052734;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
}

.wrapper-auth__label {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #212121;
}

.wrapper-auth__input {
  width: 100%;
  height: 56px;
  border: 1px solid #a9a8a8;
}
.wrapper-auth__footer {
  display: flex;
  justify-content: space-around;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}

.wrapper-auth__footer__cuenta {
  color: #9b9b9b;
}

.wrapper-auth__footer__register {
  color: #218037;
}

.wrapper-auth__info {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #a9a8a8;
  margin-bottom: 1rem;
  display: inline-block;
}
