.paymentContainer {
  display: flex;
  background-color: #000000;
  height: 100vh;
  width: 100%;
  flex-direction: column;
}
.subPaymentContainer {
  height: 70vh;
  width: 100%;
  display: flex;
  justify-content: center;
}
.classPacks {
  font-family: "Saira";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #ffffff;
}

.total {
  color: rgba(204, 255, 102, 1);
  font-size: 24px;
  font-weight: 600;
  font-family: "Saira";
}
.colorPrice {
  font-size: 30px;
}
.colorPricePacks {
  color: rgba(204, 255, 102, 1);
  font-size: 16px;
  font-weight: 600;
  display: block;
}
.colorChooseThe {
  color: white;
}
.colorPayPal {
  color: rgba(204, 255, 102, 1);
}
.colorStripe {
  color: rgba(204, 255, 102, 1);
}
.accountDetails {
  display: flex;
  width: 90%;
  height: 83%;
  text-align: start;
  max-width: 500px;
  background: linear-gradient(180deg, #05668d 0%, rgba(5, 102, 141, 0.16) 100%);
  border: 0.01px solid #05668d;
  box-shadow: inset 6px 10px 15px rgba(33, 1, 36, 0.3);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  margin: 0 auto;
  margin-top: 50px;
}

.accountDetails h1 {
  display: flex;
  width: 100%;
  height: 10%;
  font-family: "Saira";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  justify-content: center;
  color: #ffff;
}

.textContent {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 90%;
  height: 25vh;
  top: 20%;
  left: 5%;
}

.paymentMethodContainer {
  margin-top: 100px;
  height: 50%;
}

.paymentMethodContainer .choose {
  max-height: 1.5vh;
  color: aliceblue;
}

.paymentMethodContainer p {
  line-height: 15.92px;
  font-size: 27px;
  text-align: center;
  font-family: "Saira";
  font-weight: 800;
}
.paragraphContainer {
  width: 100%;
  margin-top: 5%;
  margin-bottom: 4rem;
}
.paymentmeth {
  color: rgba(204, 255, 102, 1);
  margin-top: 5%;
}

.paymentMethodContainer .buttons {
  justify-content: center;
}

.buttons {
  display: flex;
  align-items: center;
  color: #ccff66;
  width: 50%;
  max-width: 190px;
  height: 40px;
  margin: 0 auto;
  margin-top: 60px;
  border-radius: 25px;
  border: 5px solid rgba(204, 255, 102, 1);
  background-color: transparent;
  font-weight: 700;
  cursor: pointer;
  transition: 2s;
}
.buttons:hover {
  box-shadow: 0px 25px 15px -20px #05668d;
}
.buttons p {
  margin-left: 25px;
  margin-right: 10px;
  margin-top: 6%;
  font-size: 22px;
}

.BigStrypiceIcon {
  display: none;
}
.BigPaypalIcon {
  display: none;
}
.wrapper-paypal-custom {
  width: 100%;
  justify-content: center;
  display: flex;
}
.containerpaypalButton {
  width: 70%;
}

@media screen and (min-width: 1024px) {
  .paymentContainer {
    display: flex;
    flex-direction: row;
  }
  .accountDetails {
    height: 100%;
  }
  .classPacks {
    font-family: "Saira";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #ffffff;
  }

  .accountDetails {
    display: flex;
    max-width: 643px;
  }
  .sizeAccountDetails {
    font-size: 40px;
    color: white;
  }
  .subPaymentContainer {
    display: flex;
    height: 80%;
    width: 100%;
    margin-top: 25px;
  }
  .total {
    color: rgba(204, 255, 102, 1);
    font-size: 35px;
    font-weight: 600;
    font-family: "Saira";
    line-height: 100px;
  }
  .colorPrice {
    font-size: 45px;
  }
  .colorPricePacks {
    color: rgba(204, 255, 102, 1);
    font-size: 27px;
    font-weight: 600;
  }

  .paymentMethodContainer {
    margin-top: 0%;
    width: 45%;
    height: 100%;
    display: flex;
  }

  .subPaymentMethodContainer {
    width: 600px;
    margin-top: 50px;
  }

  .paymentMethodContainer p {
    line-height: 18.92px;
    font-size: 38px;
  }

  .wrapper-paypal-custom {
    width: 70%;
    margin: 0 auto;
    display: block;
  }

  .subPaymentMethodContainer {
  }
  .textContent {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 90%;
    min-width: 297px;
    height: 45vh;

    top: 20%;
    left: 5%;
  }
  .buttons {
    display: flex;
    align-items: center;
    color: #ccff66;
    width: 407px;
    max-width: 800px;
    height: 88px;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 25px;
    border: 5px solid rgba(204, 255, 102, 1);
    background-color: transparent;
    font-weight: 700;
    transition: 2s;
  }
  .buttons:hover {
    box-shadow: 0px 25px 15px -20px #05668d;
  }
  .buttons p {
    margin-top: 2%;
  }

  .StrypiceIcon {
    display: none;
  }
  .BigStrypiceIcon {
    display: flex;
  }

  .BigPaypalIcon {
    display: flex;
  }
  .PaypalIcon {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .wrapper-paypal-custom {
    width: 100%;
    justify-content: center;
    display: flex;
  }

  .containerpaypalButton {
    width: 70%;
  }
}
