/*heroCard*/

.HeroCard {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.HeroCard__image {
  margin: 0 auto;
}

.HeroCard__wrapperContent {
}

.HeroCard__paragraph__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  padding: 0 3rem;
  margin: 0;
}

.HeroCard__paragraph {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
}

/* heroCardHero style desktop */

@media screen and (min-width: 1024px) {
  .HeroCard {
    display: flex;
    width: 100%;
    height: 648px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .HeroCard__image {
    width: 50%;
    height: 100%;
  }

  .HeroCard__paragraph__title {
    font-family: "Aclonica";
    font-weight: 400;
    font-size: 40px;
    text-align: start;
    padding: 0;
    margin-left: 1rem;
    line-height: 64px;
    margin-bottom: 2rem;
  }

  .HeroCard__wrapperContent {
    margin-left: 1rem;
  }
  .HeroCard__paragraph {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #626262;
    width: 100%;
    max-width: 626px;
    text-align: start;
    line-height: 42px;
    margin: 0 auto;
    margin-bottom: 3rem;
    margin-left: 1rem;
  }
}
