/*component*/

.SliderCards {
  display: flex;
  width: 100%;
  scroll-snap-type: x mandatory;
  scroll-padding: 25px;
  column-gap: 20px;
  overflow-x: scroll;
  position: relative;
}

@media screen and (min-width: 768px) {
  .SliderCards {
    max-width: 500px;
    margin-left: 20%;
  }
}

@media screen and (min-width: 1024px) {
  .SliderCards {
    overflow-x: unset;
    margin-left: 95px;
    width: 316px;
    height: 540px;
  }
}

@media screen and (min-width: 1440px) {
  .SliderCards {
    width: 342px;
    width: 316px;
    height: 540px;
    margin-left: 180px;
  }
}
