.list-categories {
  width: 100%;
  display: flex;
  justify-content: center;
}

.list-categories__item {
  padding: 1rem;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #052734;
  cursor: pointer;
  position: relative;
}

.list-categories__item:hover {
  color: green;
}

@media screen and (min-width: 1024px) {
  .list-categories__item {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 22.4144px;
  }
}
