/*nav*/

.nav {
  font-family: "Roboto";
  width: 100%;
}

.nav__ecoSport-wrapper {
  display: flex;
  justify-content: space-between;
}

/*input*/

.input-wrapper {
  display: flex;
}

.input-wrapper__icon {
  width: 21px;
  height: 29px;
  background-color: #218037;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-wrapper__input {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  width: 100%;
}

/*list*/

.nav__list {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.nav__item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #052734;
}

.nav__item--weigth {
  font-weight: 400;
}

/*cart*/
.cart {
  display: flex;
}
.cart__name {
  margin-right: 2rem;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
}

.cart__image {
}
