/* ******************************************************************* */

/*container*/

.container-principal {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
  overflow: hidden;
}

/* ******************************************************************* */

/*styles of every section title*/

.title-section {
  font-family: "Aclonica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #052734;
}

@media screen and (min-width: 1024px) {
  .title-section {
    font-size: 52px;
    margin: 0;
    margin-top: 8rem;
  }
}

/* ******************************************************************* */

/*button global*/

/*button*/
.button {
  width: 100%;
  max-width: 290px;
  height: 42px;
  color: black;
  margin: 0 auto;
  display: block;
  cursor: pointer;
}

.button.button--blue {
  background: linear-gradient(
    90.34deg,
    #184f63 3.48%,
    #1f5b73 7%,
    #19495b 92.96%,
    #052734 100%
  );
  border: 2px solid #072b39;
  border-radius: 4px;
  color: white;
}
.button.button--Darkblue {
  background: #052734;
  border-radius: 2.30942px;
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
}

.button.button--White {
  display: none;
}

/*button style desktop*/

@media screen and (min-width: 1024px) {
  .button.button--blue {
    width: 208px;
    height: 56px;
  }

  .button.button--White {
    background: #ffffff;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    display: block;
    position: absolute;
    top: 0;
  }
}
