html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-size: 65.2%;
    min-width: 320px;
}

body {
    margin: 0;
}

*,
*:after,
*::before {
    box-sizing: inherit;
}

a {
    text-decoration: none;
}
a:link, a:visited, a:active {
    text-decoration:none;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

