/*card*/

.card__wrapper-image {
  width: 300px;
  margin: 0 auto;
}

.card {
  flex: 0 0 87%;
  padding: 5px;
  scroll-snap-align: start;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: relative;
  margin-bottom: 10px;
  margin-top: 10px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .card__wrapper-image {
    width: 207px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1024px) {
  .card__wrapper-image {
    width: 207px;
    margin: 0 auto;
  }
  .card {
    flex: 0 0 66%;
  }
}
/* 
.card:last-of-type {
  margin-right: 60px;
} */

@media screen and (min-width: 1440px) {
  .card__wrapper-image {
    width: 300px;
    margin: 0 auto;
  }
}

.card__backgroundImg {
  background-color: #f6f5f5;
  width: 292px;
  height: 270px;
  margin: 0 auto;
}

/*card Content*/

.card__content {
  text-align: center;
  padding: 1.7rem;
}

.card__content__paragraph {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #626262;
}

.card__content__price {
  font-family: "Roboto";
  font-style: normal;

  font-size: 24px;
  color: #052734;
}

.card__content__price,
.card__content__priceDiscount {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #052734;
  height: 30px;
  vertical-align: middle;
}

.card__content__priceDiscount {
  font-size: 14px;
  margin-left: 10px;
}

/*stars*/

.star-srapper {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-bottom: 2rem;
}

.agregar-Carrito {
  background: linear-gradient(
    90.34deg,
    #184f63 3.48%,
    #1f5b73 7%,
    #19495b 92.96%,
    #052734 100%
  );
  border: 2px solid #072b39;
  border-radius: 4px;
  color: white;
  width: 70%;
  height: 40px;
  margin: 0 auto;
  display: block;
  cursor: pointer;
}

.Eliminar-Producto {
  background: linear-gradient(
    90.34deg,
    #890742 3.48%,
    #91111c 7%,
    #3d092e 92.96%,
    #350238 100%
  );
  border: 2px solid #072b39;
  border-radius: 4px;
  color: white;
  width: 70%;
  height: 40px;
  margin: 0 auto;
  display: block;
  cursor: pointer;
}
